:root {
  /** Primary Colors **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** Background & Text Override **/
  --ion-background-color: #ffffff; 
  --ion-background-color-rgb: 255, 255, 255;
  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  /** Item backgrounds (for lists and cards) **/
  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;
}